<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <configSections>
  </configSections>
  <connectionStrings>
    <add name="EMC_COMENZI.Properties.Settings.EMC_COMENZIConnectionString"
      connectionString="Data Source=ADIMIHAILESCU\ADM_SQL2008;Initial Catalog=EMC_COMENZI;Integrated Security=True"
      providerName="System.Data.SqlClient" />
  </connectionStrings>

</configuration>